.form-card{
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

input,select,textarea {
display: block;
}

#male, #female, #coding, #reading, #sports {
    display: inline;
}

table {
    margin: auto;
    border-spacing: 0;
    border: 2px solid #ddd;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    min-width: 1000px;
}

th,td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

@media (max-width: 480px) {
    .form-card {
        padding: 10px;
        background-color: red;
    }
    input, textarea, button {
        width: 100%;
    }
    #male, #female, #coding, #reading, #sports {
        width: auto;
    }
}

@media(max-width: 768px) {
    .table-css
}

